
@{
    ViewBag.Title = "Welcome";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Welcome to the Portal of Life!</h2>
        <p>This amazing system allows for the tracking and viewing of current policies</p>
        <p class="text-danger">This system is currently in alpha</p>
    </div>
</div>
