
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Welcome to the League of Baseball!</h2>
        <p>This amazing system allows for tracking your Baseball league. For the small price of $299.99 a month you will get full access to our beta services</p>
        <p class="text-danger">This system is currently in alpha</p>
    </div>
</div>

