/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [UserId]
      ,[RoleId]
  FROM [BlogConnection].[dbo].[AspNetUserRoles]

  insert into AspNetUserClaims( Id, UserId)
  
  values ('JR','Jason'), ('ZR','Zach')


  Select * from AspNetRoles